extends src/page/layout.pug

block content
    h2 Services
    h3 Configured services
    ul
        each module in data("config").modules
            li(data-service-name=module.serviceName) #{module.serviceName} – Status: #{module.lastStatusReadable} (#{module.lastStatusDate})
                a(role="button") Refresh TBD