extends src/page/layout.pug

block content
    h2 Modules
    h3 Configured modules
    ul
        each module in data("config").modules
            li #{module.serviceName} – Status: #{module.statusText()}